version: "3.9"

services:

  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:stable
    container_name: homeassistant
    network_mode: host
    privileged: true
    restart: unless-stopped
    volumes:
      - ./homeassistant:/config
      - /etc/localtime:/etc/localtime:ro

  # pihole:
  #   image: pihole/pihole:latest
  #   container_name: pihole
  #   hostname: pihole
  #   restart: unless-stopped
  #   ports:
  #     - "53:53/tcp"
  #     - "53:53/udp"
  #     - "80:80/tcp"
  #   environment:
  #     TZ: "America/New_York"
  #     WEBPASSWORD: "changeme"
  #   volumes:
  #     - ./pihole/etc-pihole:/etc/pihole
  #     - ./pihole/etc-dnsmasq.d:/etc/dnsmasq.d
  #   dns:
  #     - 127.0.0.1
  #     - 1.1.1.1
  #   cap_add:
  #     - NET_ADMIN

  # jellyfin:
  #   image: jellyfin/jellyfin:latest
  #   container_name: jellyfin
  #   restart: unless-stopped
  #   ports:
  #     - "8096:8096"
  #   volumes:
  #     - ./jellyfin/config:/config
  #     - ./jellyfin/cache:/cache
  #     - ./jellyfin/media:/media
  #   environment:
  #     TZ: "America/New_York"
