networks:
  traefik-network:
    external: true

services:
  traefik:
    image: traefik:v3.6.4
    container_name: traefik
    restart: unless-stopped
    networks:
      - traefik-network
    ports:
      - "80:80"
      - "443:443"
    environment:
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/traefik.yml:ro
      - ./traefik/acme.json:/letsencrypt/acme.json
    healthcheck:
      test: ["CMD", "wget", "http://localhost:8082/ping","--spider"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    command:
      - --configFile=/traefik.yml
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.cloud-vii.net`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls.certresolver=letsencrypt"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.services.traefik.loadbalancer.server.port=8080"
      - "traefik.http.services.traefik.loadbalancer.passhostheader=true"

  homeassistant:
    image: ghcr.io/home-assistant/home-assistant:2025.12
    container_name: homeassistant
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8123/"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 90s
    network_mode: host
    privileged: true
    cap_add:
      - NET_ADMIN # Required for full Bluetooth functionality
      - NET_RAW # Required for full Bluetooth functionality
    restart: unless-stopped
    volumes:
      - ./homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ha.rule=Host(`home.cloud-vii.net`)"
      - "traefik.http.routers.ha.service=ha"
      - "traefik.http.routers.ha.entrypoints=websecure"
      - "traefik.http.routers.ha.tls.certresolver=letsencrypt"
      - "traefik.http.services.ha.loadbalancer.passhostheader=true"
      # Need to specify address and port because we are using host network and not docker network
      - "traefik.http.services.ha.loadbalancer.server.url=http://192.168.1.5:8123"
    depends_on:
      traefik:
        condition: service_healthy

  pihole:
    image: pihole/pihole:2025.11.1
    container_name: pihole
    restart: unless-stopped
    networks:
      - traefik-network
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    environment:
      TZ: "America/New_York"
      FTLCONF_webserver_api_password: 'ihateads'
      FTLCONF_dns_listeningMode: 'ALL'
    volumes:
      - ./pihole/etc-pihole:/etc/pihole
      - ./pihole/etc-dnsmasq.d:/etc/dnsmasq.d
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pihole.rule=Host(`pihole.cloud-vii.net`)"
      - "traefik.http.routers.pihole.entrypoints=websecure"
      - "traefik.http.routers.pihole.tls.certresolver=letsencrypt"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"

  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:15
    container_name: wg-easy
    networks:
      - traefik-network
    volumes:
      - ./wg-easy/etc-wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "51820:51820/udp" # wireguard (port forward this)
      - "51821:51821/tcp" # web UI (don't port forward this)
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wg-easy.rule=Host(`wireguard.cloud-vii.net`)"
      - "traefik.http.routers.wg-easy.entrypoints=websecure"
      - "traefik.http.routers.wg-easy.tls.certresolver=letsencrypt"
      - "traefik.http.services.wg-easy.loadbalancer.server.port=51821"
  
  mosquitto:
    image: eclipse-mosquitto:2.0.22
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"   # MQTT
      - "9001:9001"   # MQTT over WebSockets (optional)
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    networks:
      - traefik-network
    environment:
      TZ: "America/New_York"

    # jellyfin:
    #   image: jellyfin/jellyfin:latest
    #   container_name: jellyfin
    #   restart: unless-stopped
    #   volumes:
    #     - ./jellyfin/config:/config
    #     - ./jellyfin/cache:/cache
    #     - ./jellyfin/media:/media
    #   labels:
    #     - "traefik.enable=true"
    #     - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.yourdomain.com`)"
    #     - "traefik.http.routers.jellyfin.entrypoints=websecure"
    #     - "traefik.http.routers.jellyfin.tls.certresolver=letsencrypt"
    #     - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"