api:
  dashboard: true

# entryPoints:
#   web:
#     address: ":80"
#   websecure:
#     address: ":443"

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  letsencrypt:
    acme:
      email: ryanrod@vt.edu
      storage: /letsencrypt/acme.json
      dnsChallenge:
        provider: cloudflare
        delayBeforeCheck: 10
